numpy==1.26.4
torch==2.5.1
transformers==4.52.3
tqdm==4.66.6
numba==0.60.0
datasets==3.6.0
accelerate==0.29.3
setuptools==68.2.2
pandas==2.2.3
safetensors==0.4.5
threadpoolctl==3.2.0
attributedict==0.3.0
flash1dkmeans==0.1.4
lm-eval==0.4.3
peft==0.13.2
huggingface-hub==0.32.0
glog==0.3.1
sentencepiece==0.2.0
protobuf==6.31.1
